::placeholder, a, a:hover {
    color: inherit;
}

body {
     cursor: default; overflow-x: none;
 }
body, button, input {
     font-family: 'Poppins', sans-serif;
 }
body > section:not([id="landing"]) {
    background-color: white;
}
input {
     outline: none; border: none;
 }
figure, p {
     margin: 0;
 }

.nav-item .nav-link:hover {
    background-color: white;
    border-radius: 10px;
    color: #292929 !important;
    opacity: .7;
}
.navbar-toggler {
    background-color: transparent !important;
    opacity: .8;
    border-width: 1px !important;
}
.btn {
     padding: .2em 1.4em !important;
 }
.bg-white {
     background-color: white !important;
 }
.bg-fancy {
    background-color: #2e38f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='71' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='52' height='52' fill-opacity='0.6' fill='%232650ff'/%3E%3C/svg%3E");
    background-attachment: fixed;
}
.dimmed {
     background-color: rgba(255, 255, 255, .8);
 }
.text-muted {
    color: inherit !important;
    opacity: .9;
}
.bg-img-default {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.divider-sm {
    width: 100px;
    border-width: 6px;
    border-color: inherit;
}
.shadow-2 {
    position: relative;
    box-shadow: 0 0 25px rgba(97, 97, 97, .52);
}

#landing{
    background-image: linear-gradient(to right,rgba(184,184,184,0.26),rgba(184,184,184,0.44));
}

#landing video{
    z-index: -100;
    min-width: 100%;
    transform: scale(0.5) translate(-50%,-50%);
    filter: blur(10px);
}
#landing #content{
    margin-top: 16vh;
    padding-bottom: 20vh;
}

#landing button{
    background-color: white;
    color: #292929;
    border: 2px solid white;
}
#landing button:hover{
    background-color: transparent;
    color: white;
}
#our-team{
    padding: 5.6rem 0;
}

#our-team img{
    height: 270px;
    object-fit: cover;
}

#our-team i{
    transition: opacity 0.2s;
}
#our-team i:hover{
    transition: opacity 0.5s;
}
#our-team .card > div{
    background-color: rgba(30, 30, 30, 0.7);
    transform: translateX(-100%);
    transition: transform 0.35s;
}
#our-team .card:hover > div{
    transform: translateX(0);
}

#info{
    background-color: #54C65E;
}

#info .col-md-4:nth-child(2){
    transform: scale(1.1);
}
@media (max-width:768px) {
    #info .col-md-4:nth-child(2){
        transform: scale(1);
    }
}

#portfolio{
    padding: 100px 0;
}
#portfolio .port-item{
    height: 200px;
    position: relative;
}

#portfolio .port-item > *{
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

#portfolio .port-item::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transition: background-color 0.3s;
}
#portfolio .port-item:hover * {
    opacity: 1;
}
#portfolio .port-item:hover::before{
    background-color: rgba(39, 39, 39, 0.7);
}
@media (max-width : 992px) {
    #portfolio .port-item{
        height: 500px;
    }
}
